<p id="notice"><%= notice %></p>

<h1>Pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>Birthday</th>
      <th>Total visits</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.birthday.strftime('%d/%m/%Y') %></td>
        <td><%= pet.total_visits %></td>
        <td><%= link_to 'History', pet_histories_url(pet_id: pet.id) %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %> |
<%= link_to 'Pet History', pet_histories_path %> |
<%= link_to 'Clients', clients_path %>
